<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_PATH" value="logs"/>

    <!-- ========================= -->
    <!-- Console Logger -->
    <!-- ========================= -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- ========================= -->
    <!-- Main App Log -->
    <!-- ========================= -->
    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- ========================= -->
    <!-- Payment Specific Log -->
    <!-- ========================= -->
    <appender name="PAYMENT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/payment.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/payment.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- ========================= -->
    <!-- Payment Logger -->
    <!-- ========================= -->
    <logger name="PAYMENT_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="PAYMENT_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>


    <!-- Root -->
    <root level="INFO">
        <appender-ref ref="APP_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
